.about{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 150px 50px ;
    width: 100%;

}
.left-about{
    width: 50%;
    display: flex;
    justify-content: center;
}
.right-about{
    width: 50%;
    min-height: 500px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}
.right-about .intro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro h4{
    color: var(--blue);
    margin-bottom: 10px;
    font-size: var(--fz20);
}
.intro span{
    font-size: var(--fz40);
    color: var(--title);
    margin-bottom: 20px;
}
.intro p{
    color: var(--blue);
    font-size: var(--fz20);
    max-width: 500px;
}
.about-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.name{
    display: flex;
    /* flex-direction: row; */
    /* width: 200px; */
    /* align-items: flex-start; */
    gap: 40px;
    width: 100%;
}
.name-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.name-icon p{
    font-weight: bold;
    width:150px;
    font-size: var(--fz20);
}
.name-text{
    color: var(--blue);
    text-wrap: nowrap;
    width: 200px;
    position: relative;
    font-size: var(--fz20);
}

.interest{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.categ{
    display: flex;
    gap: 30px;
}
.categ .title-int{
    display: flex;
    gap: 5px;
}
.title-int span{
    font-size: var(--fz20);
}
.interest .int-title{
    font-size: 24px;
    color: var(--title);
    margin-bottom: 20px;
}
@media (max-width: 1182px) {
    .about{
        padding: 40px 10px;
    }
    .about-cont{
        width: 100%;
    }
    .name{
        display: flex;
        width: 100px;
        justify-content: flex-start;
        ;
    }   
    .name-icon{
        width: 100%;

    }
}

@media (max-width: 920px) {
    .name{
        width: 80px;
    }
    .categ{
        display: flex;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .intro{
        padding: 20px;
        gap: 20px;
    }
    .left-about{
        display: none;
    }
    .right-about{
        width: 100%;
    }
    .name{
        gap: 10px;
        align-items: center;
        width: 100px;
    }
    .name p{
        font-size: var(--fz16);
    }
    .interest{
        margin: 20px 0;
        padding: 20px;
    }
    .categ{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
    .about-cont{
        padding: 20px;
    }
}