.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-family: 'Josefin Sans', sans-serif;
}
@media (max-width: 1182px) {
    .App{
        width: 100vw;
    }
}

@media (max-width: 768px) {
    .App{
        overflow-x: hidden !important;
    }
    .stop-scrolling{
        overflow: hidden !important;
    }
}