.card-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 150px 0;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .title{
    font-size: var(--fz20);
    color: var(--blue);
    margin-bottom: 10px;
}
.content .cont-title{
    font-size: var(--fz40);
    color: var(--title);
}
.cards{
    display: flex;
    gap: 40px;
}
.card{
    max-width: 400px;
    width: 100%;
    height: 160px;
    border: 1px solid var(--bgcolor);
    border-radius: 0px 40px 0 0;
    padding: 30px 10px;
    position: relative;
    height: auto;
}
.card .icon{
    position: absolute;
    top: -20px;
    width: 40px;
    height: 40px;
    background-color: var(--blue);
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .content span{
    font-size: 24px;
    color: var(--title);
    margin-bottom: 20px;
}
.card .content p{
    font-size: 20px;
}

@media (max-width: 1182px) {
    .card-list{
        padding: 20px;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .cards{
        flex-direction: column;
    }
}