.expertice{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px 140px;
    background-color: var(--bgcolor);

}
.exp-image{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.exp-image img{
    width: 50px ;
    height: auto;
}
.img0,
.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8,
.img9{
    transform: translateX(0);
}
.img0 {
    animation: imgAnimate 2s infinite  ease-in-out;
}
.img1{
    animation: imgAnimate 2s infinite  ease-in-out 1s;
}

.img2{
    animation: imgAnimate 2s infinite  ease-in-out 2.2s;
}

.img3{
    animation: imgAnimate 2s infinite  ease-in-out 3.4s;
}

.img4{
    animation: imgAnimate 2s infinite  ease-in-out 3.6s;
}
.img5{
    animation: imgAnimate 2s infinite  ease-in-out 4.8s;
}

.img6{
    animation: imgAnimate 2s infinite  ease-in-out 6s;
}

.img7{
    animation: imgAnimate 2s infinite  ease-in-out 6.2s;
}

.img8{
    animation: imgAnimate 2s infinite  ease-in-out 7.4s;
}
.img9{
    animation: imgAnimate 2s infinite  ease-in-out 8.6s;
}
@keyframes imgAnimate {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
    
}

.cont-exp{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    gap: 50px;
}
.title-exp{
    text-align: center;
}
.title-exp p{
    font-size: var(--fz20);
    color: var(--blue);
    margin-bottom: 10px;
}
.title-exp span{
    font-size: var(--fz40);
    color: var(--title);
}
.left-exp, .right-exp{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-exp .pro-list, .right-exp .pro-list{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding: 10px;
    height: 300px;
    position: relative;
}
.pro-bar{
    width: 100%;
    position: relative;
    /* height: 40px !important; */
}
.pro-bar .full{
    width: 100%;
    display: flex;
    padding: 6px;
    background-color: #c7c7c7;
    height: 6px;
}

.pro-bar .pro{
    padding: 6px;
    position: absolute;
    background-color: var(--blue);
    top: 30px !important;
    
}
.pro-bar .txt-perc{
    position: absolute;
    right: 0;
    top: 0;
}
.pro-bar p{
    margin-bottom: 10px;
    color: var(--title);
    font-weight: bold;
    font-size: var(--fz20);
}

@media (max-width: 1182px) {
    .expertice{
        width: 100%;
        padding: 60px 20px;
    }
    .pro-bar .pro{
        top: 30px;
    }
}
@media (max-width: 768px) {
    .cont-exp{
        flex-direction: column;
        width: 100%;
    }
    .left-exp{
        width: 100%;
    }
    .right-exp{
        width: 100%;
    }
    .exp-image{
        align-items: center;
        justify-content: center;
    }
    .exp-image img{
        width: 40px;;
    }
}