.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--title);
  min-height: 200px;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.footer h3 {
  padding: 10px;
  border: 1px solid white;
  color: white;
  font-size: 32px;
}
.footer p{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.fcont{
    display: flex;
    gap: 20px;
}
.fcont > div{
    cursor: pointer;
}

@media (max-width: 1182px) {
  .footer{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer{
    height: auto;
    padding: 20px;
  }
}