.hero {
  display: flex;
  background: linear-gradient(0.25turn, #d7ecee, #89b5d9);
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  padding: 100px;
  margin-bottom: 150px;
}
.ml2 {
  font-weight: 900;
  font-size: 1.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.langLetter {
  display: inline-block;
  font-size: var(--fz24) !important;
}
.hero-left {
  width: 50%;
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero-left .greet {
  margin-bottom: 20px;
  font-size: var(--fz16);
  color: var(--blue);
}
.hero-left span {
  font-size: 40px;
  font-weight: bolder;
  color: var(--title);
  margin-bottom: 20px;
}
.hero-left .self {
  color: var(--title);
  font-size: 22px;
  margin-bottom: 40px;
}
.hero-left .desc {
  max-width: 550px;
  color: var(--title);
  font-size: 18px;
}
.hero-left .btn-group {
  margin: 60px 0px;
  display: flex;
  gap: 50px;
}
.some-about {
  position: absolute;
  /* left: calc(40); */
  display: flex;
  background-color: white;
  padding: 40px;
  width: 80rem;
  border-radius: 100px;
  justify-content: space-between;
  top: 750px;
  box-shadow: 0px 10px 10px #ececec;
}
.some-about > div {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 20rem;
}
.some-about > div:nth-child(1){
  padding-left: 50px;
}
.some-about > div:nth-child(2) {
  border-left: 1px solid black;
  padding-left: 50px;
}
.some-about > div:nth-child(3) {
  border-left: 1px solid black;
  padding-left: 50px;
}
.some-about .icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.hero-rigth {
  max-width: 400px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-rigth img {
  max-width: 340px;
}
.btn-group a {
  text-decoration: none;
}
@media (max-width: 1182px) {
  .hero {
    padding: 10px 0;
    width: 100%;
  }
  .hero-left .desc {
    width: 300px;
  }
  .hero-rigth img{
    max-width: 240px;
  }
  .some-about {
    /* display: none; */
    width: 80%;
    top: 580px;
    height: 100px;
  }
}
@media (max-width: 920px) {
  .some-about {
    top: 660px;
    height: 70px;
  }
  
  .hero-left{
    width: 80%;
  }
  
  .some-about .icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    margin-top: 0px;
  }
  .hero-left {
    padding: 20px;
    width: 100%;
    align-items: center;
  }
  .hero-rigth {
    max-width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-group {
    flex-direction: column;
    margin: 10px 0 !important;
    gap: 10px !important;
  }
  .some-about {
    display: none;
  }
  .ml2 {
    font-weight: 900;
    font-size: 16px;
  }

  .ml2 .letter {
    display: inline-block;
    line-height: 0.5em;
  }
}
