.journey{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    padding: 40px 150px;
    margin-bottom: 50px;
}
.content-jour{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 150px;
}
.title-jour{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.title-jour p{
    color: var(--blue);
    font-size: var(--fz20);
    font-weight: bold;
    margin-bottom: 10px;
}
.title-jour span{
    font-size: var(--fz40);
    color: var(--title);
}

.content-jour .h3{
    margin-bottom: 40px;
    font-weight: bold;
    color: var(--title);
    text-align: start;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: var(--fz24);

}
.left-jour{
    width: 100%;
    position: relative;
}
.left-jour ul, .right-jour ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.edu-ul li{
    border-left: 1px solid var(--blue);
    padding-left: 20px;
    position: relative;
}
.edu-ul .line {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--blue);
    border-radius: 50%;
    top: 0;
    left: -8px;
}

.edu-cont{
    display: flex;
    flex-direction: column;
    width: 100%;    
}
.edu-cont p{
    font-size: var(--fz24);
    margin-bottom: 10px;
}
.edu-cont .edu-prog{
    font-size: var(--fz20);
    margin-bottom: 10px;
}
.edu-cont .edu-time{
    font-size: var(--fz16);
    color: var(--blue);
}
/* .edu-ul .line{
    padding: 1px;
    height: 50px;
    background-color: var(--blue);
    position: absolute;
    left: -20px;
    top: 10px;
} */
.right-jour{
    width: 100%;
    position: relative;
}
@media (max-width: 768px) {
    .journey{
        padding: 20px;
        margin: 50px 0;
    }
    .content-jour{
        flex-direction: column;
        gap: 40px;
    }
    .edu-ul{
        width: 100%;
    }
    .left-jour{
        width: 100%;
    }
    .right-jour{
        width: 100%;
    }
    
}