.nav {
  display: flex;
  width: 100%;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 10px 10px #ececec;
}
.nav .logo {
  width: 50px;
  height: 50px;
  border: 1px solid var(--title);
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo p {
  font-size: 30px;
}

.right ul {
  list-style: none;
  display: flex;
  gap: 30px;
  color: var(--title);
}
.right ul li {
  cursor: pointer;
}
.b-bottom {
  position: relative;
}
.b-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
  transition: width 0.3s ease;
}

@media (max-width: 1182px) {
  .nav {
    position: sticky;
    top: 0;
    padding: 0px 40px;
    width: 100vw;
    height: 70px;
  }
}
@media (max-width: 920px) {
  .nav {
    position: sticky;
    top: 0;
    padding: 0px 40px;
    width: 100vw;
    height: 70px;
  }
  .nav {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  .b-bottom::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--blue);
    transition: width 0.3s ease;
  }
  .right .ul-nav {
    flex-direction: column;
    position: fixed;
    top: 70px;
    right: 0px;
    height: 100vh;
    background-color: white;
    width: 100vw;
    padding: 10px;
    transform: translate(0);
    transition: all 0.5s ease;
    padding-top: 60px;
    font-size: 18px;
  }
  .right .ul-nav li {
    cursor: pointer;
  }
  .right .ul-nav-close {
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0px;
    height: 100vh;
    background-color: white;
    width: 200px;
    padding: 10px;
    transform: translate(500px);
    /* display: none; */
    transition: all 0.5s ease;
  }
  .menu-mb {
    width: 40px;
    height: 40px;
    position: relative;
    display: flex;
  }
  .menu-mb span {
    width: 100%;
    /* height: 2px; */
    background-color: var(--title);
    padding: 2px;
    position: absolute;
    left: 0;
    right: -20px;
    transition: all 0.5s ease;
  }
  .menu-mb span::before {
    content: "";
    width: 75%;
    /* height: 2px; */
    background-color: var(--title);
    padding: 2px;
    position: absolute;
    top: 10px;
    right: 0px;
    transition: all 0.5s ease;
  }
  .menu-mb span::after {
    transition: all 0.5s ease;

    content: "";
    width: 50%;
    /* height: 2px; */
    background-color: var(--title);
    padding: 2px;
    position: absolute;
    top: 20px;
    right: 0px;
  }
  .menu-mb-close {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .menu-mb-close span {
    width: 100%;
    height: 0px;
    background-color: var(--title);
    padding: 0px;
    position: absolute;
    left: 0;
    right: -20px;
    /* display: none; */
    /* opacity: 0; */
  }
  .menu-mb-close span::before {
    transition: all 0.5s ease;
    content: "";
    width: 100%;
    /* height: 2px; */
    background-color: var(--title);
    padding: 2px;
    position: absolute;
    top: 20px;
    right: 0px;
    transform: rotate(-45deg);
  }
  .menu-mb-close span::after {
    content: "";
    width: 100%;
    /* height: 2px; */
    background-color: var(--title);
    padding: 2px;
    position: absolute;
    top: 20px;
    right: 0px;
    transform: rotate(45deg);
    transition: all 0.5s ease;
  }
}
