.portfolio{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bgcolor);
    padding-bottom: 50px;
    padding: 120px 60px;
    min-height: 80vh;
}
.port-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.port-titles span{
    font-size: var(--fz20);
    color: var(--blue);
    margin-bottom: 10px;
}
.port-titles p{
    color: var(--title);
    font-size: var(--fz40);
}
.tabs ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.tabs li{
    cursor: pointer;
    font-size: var(--fz16);
}
.port-content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.portfolio .image{
    width: 300px;
    /* height: 170px; */
    border-radius: 10px;
    overflow: hidden;
}
.portfolio img{
    width: 100%;
    height: 170px;
    object-fit: contain;
}
.image-mod{
    max-width: 450px;
    height: auto;
    width: 100%;
    object-fit: contain;
}

.li-active{
    color: var(--blue);
    font-weight: bold;
}
.links{
    margin: 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links p{
    color: var(--title);
    font-size: var(--fz20);
}
.links p:nth-child(3){
    color: var(--blue);
    font-size: var(--fz16) !important;

}
.links-site {
    display: flex;
    margin: 20px 0;
    justify-content: space-around !important;    
    width: 100%;
}
.links a{
    text-decoration: none;
}
.links-site .git,.links-site .site{
    width: 45px;
    height: 45px;
    background-color: var(--blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5px 0 0 0;
    cursor: pointer;
}
.mod-ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
}
.mod-img{
    width: 50px;
    height: auto;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-up-tl {
	-webkit-animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-tl 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@media (max-width: 1182px) {
    .portfolio{
        width: 100%;
    }
    .port-content{
        max-height: 600px !important;
    }
}
@media (max-width: 1182px) {
    .port-content{
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid var(--blue);
        padding: 20px;
    }
}