.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140px;
    padding: 20px;
    gap: 40px;
    background-color: var(--blue);
    color: white;
}
.project h3{
    font-size: var(--fz40);
}
.project p{
    font-size: var(--fz20);
}
@media (max-width: 1182px) {
    .project{
        width: 100%;
    }
    .project h3{
        font-size: var(--fz20);
    }
    .project p{
        font-size: var(--fz16);
    }
}