.touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  width: 80%;
}
.touch-content {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  width: 100%;
}
.touch-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.touch-title p {
  color: var(--title);
  font-size: var(--fz40);
  font-weight: bold;
  margin-bottom: 30px;
}
.touch-title span {
  color: var(--blue);
  font-size: var(--fz20);
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left-touch {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
}
.right-touch {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 220px;
}
.right-touch > div{
  align-items: center;
}
.right-touch span{
    color: var(--title);
    font-size: var(--fz20);
}
.right-touch p{
    color: var(--blue);
    font-size: var(--fz16);
}
.call, .email, .location{
    display: flex;
    gap: 20px;
}
.right-touch .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}
.touch-name {
  display: flex;
  gap: 20px;
  width: 100%;
}
.form {
  width: 100%;
}
.form input {
  height: 40px;
  outline-color: var(--blue);
  padding-left: 20px;
  width: 100%;
  outline: 1px solid var(--blue);
}
.touch-name input::placeholder {
  font-size: 16px;
}
.form input::placeholder{
    font-size: 16px;
}
.form textarea {
  /* padding: 10px; */
  padding: 10px;
  outline:1px solid var(--blue);
  /* outline-style:outset; */

}
.form textarea::placeholder {
  font-size: 16px;
  padding-left: 10px;
}
.btn-send{
    width: 150px;
    height: 30px;
    border-radius: 50px;
    color: white;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    font-size: 18px;
}

@media (max-width: 1182px) {
  .touch{
    width: 80%;
  }
}
@media (max-width: 768px) {
  .right-touch{
    gap: 20px;
  }
  .touch-name{
    flex-direction: column;
  }
}